[Unit]
Description=Superset
After=network.target

[Service]
{% if superset_service_env_vars %}
{% for (key, value) in superset_service_env_vars.items() %}
Environment="{{ key }}={{ value }}"
{% endfor %}
{% endif %}
User={{ superset_user }}
Type=simple
ExecStart={{ superset_python_path }} run -p {{ superset_port }} --with-threads --reload --debugger --host=0.0.0.0
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
